from os import path

# Set PROJECT_ROOT to the dir of the current file
PROJECT_ROOT = path.dirname(__file__)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'denhaag.sqlite'
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'lhfluhbsfbkj;berfberfvnberdfvnbe'

CACHE_BACKEND = 'dummy://'
SESSION_ENGINE = 'django.contrib.sessions.backends.cached_db'

TEMPLATE_DEBUG = DEBUG = True

MEDIA_ROOT=  path.join(PROJECT_ROOT, 'static')
MEDIA_URL="http://0.0.0.0:8000/media/"
