{% load staticfiles %}
{% get_staticfiles_prefix as STATIC_PREFIX %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head profile="http://gmpg.org/xfn/11">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Dichter bij Den Haag</title>
		<link href="{{ STATIC_PREFIX }}styles/jquery-ui.css" rel="stylesheet" type="text/css"/>
       <link href="{{ STATIC_PREFIX }}styles/jquery-ui-override.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}styles/dbdh.css" />
		<script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery-1.4.2.min.js'></script>
 		<script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery-ui-1.8.4.custom.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery.scrollTo.js'></script>
        <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery.scrollabletab.js'></script>
        <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery.scrollabletab.init.js'></script>
        <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/dbdh.js'></script>
</head>
	<body class="">
		<div id="wrapper">
			<div id="header">
				<h1 id="logo"><a href="#">Dichterbij Den Haag</a></h1>
                <a id="boflogo">Bits of Freedom</a>
			</div>
            <div id="navbar">
                <ul id="nav">
                    <li><a id="nav-home" href="#">Home</a></li>
                    <li><a id="nav-over" href="#">Over</a></li>
                    <li><a id="nav-contact" href="#">Contact</a></li>
                    <li><a id="nav-pers" href="#">Pers</a></li>
                </ul>
             </div>
            <div id="campagnes">
				<div id="campagnes-list">
					<ul>
					{% for campaign in campaign_list %}
        					<li><a href="/campaign/{{ campaign.id }}/">{{ campaign.title }}</a><br/>
                        			{{ campaign.subtitle }}</li>
    					{% endfor %}
					</ul>
				</div>
            </div> 
			<div id="content">
            	
            	<div id="hero">
                	<h2>Stop de ACTA</h2>
                    <img class="aside" src="{{ STATIC_PREFIX }}images/test/image1.jpg" align=" " />
                    <span class="bijschrift">"Een ondemocratisch verdrag"</span>
                    <p class="intro">
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ligula nibh, accumsan sed cursus sit amet, faucibus non nunc. Nulla quis eros non nisl feugiat placerat quis quis tellus. 
                    </p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas augue erat, adipiscing non varius vel, vehicula non mauris.</p>
                    <p>sollicitudin velit mauris et tortor. Sed mattis odio leo, ut hendrerit risus. Curabitur bibendum urna a lectus varius ac dictum nisi pretium. Maecenas lacus quam, fermentum id facilisis eu, commodo sed sapien. Duis molestie porta felis, accumsan... </p>
                	<div class="extraInfo">
                    	<p>Integer risus libero, commodo a bibendum in, egestas vel lectus. Ut semper lectus sed sapien faucibus mollis. In a urna iaculis felis posuere laoreet vel eu diam. Proin mattis tempus porttitor. Fusce commodo rutrum pretium. Sed facilisis pulvinar ligula, quis facilisis nisl pharetra eu. Etiam a arcu sapien, at venenatis nibh. Duis leo enim, eleifend vel accumsan ut, tempus a magna. Sed bibendum justo in justo eleifend interdum. Fusce et lacus odio, a scelerisque tortor. Nunc at nulla at justo semper semper non vel justo. Mauris suscipit semper metus, ac posuere mauris congue eget.</p>

						<p>Donec varius dolor quis risus iaculis id sollicitudin libero aliquet. Quisque vel neque metus. In hac habitasse platea dictumst. Donec et accumsan nulla. Integer vel sem non dolor tincidunt mollis. Nam vel lobortis magna. Suspendisse laoreet metus vitae nunc vestibulum aliquet. Nunc nec nisi sapien, non blandit lorem. Aliquam eros sem, faucibus a dapibus vel, venenatis et est. Cras tempor turpis non risus ullamcorper aliquam. Morbi pharetra pharetra dolor, at interdum dolor viverra ut. Integer vitae ligula eu libero interdum imperdiet. Vivamus viverra tristique eros, ac mollis justo vestibulum id. Vestibulum non viverra erat. Aliquam erat volutpat.</p>
                    </div>
                    <div id="meer">
                    	<span><a href="#">Meer lezen</a></span>
                    </div>
                </div>
                
                
                
                <div id="steps">
                	<div id="step1">
                    	<h3>Stap 1: Wie</h3>
                        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas augue erat.</p>
                       	<div class="stepContent">
                            <div id="targetScrollUp"></div>
                            <ul id="targets">
                                <li>
                                   <div class="info">
                                        <h4>Politicus</h4>
                                        <img class="politicus" src="{{ STATIC_PREFIX }}images/test/politicus.jpg" align=" " />
                                        <img class="partij" src="{{ STATIC_PREFIX }}images/test/partij.jpg" align=" " />
                                       <ul class="contactVia">
                                            <li class="viaMail">
                                                <a href="#">via Mail</a>
                                            </li>
                                            <li class="viaPhone">
                                                <a href="#">via Phone</a>
                                            </li>
                                            <li class="viaTwitter">
                                                <a href="#">via Twitter</a>
                                            </li>
                                            <li class="viaHyves">
                                                <a href="#">via Hyves</a>
                                            </li>
                                            <li class="viaFacebook">
                                                <a href="#">via Facebook</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="extraInfo">
                                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat ante sit amet orci ornare non convallis purus porttitor.</p>

                                        <p>Proin sit amet turpis metus, sit amet mollis mi. In sagittis, nibh id tincidunt suscipit.</p>
                                        
                                        <p>Orci elit laoreet nisl, ac mattis eliLorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat ante sit amet orci ornare non convallis purus porttitor. </p>
                                        
                                        <p>Proin sit amet turpis metus, sit amet mollis mi. In sagittis, nibh id tincidunt suscipit.</p>
                                    </div>
                                    <div class="infoToggle">
                                    	<span><span><a href="#">Meer informatie</a></span></span>
                                    </div>
                                </li>
                                <li>
                                   <div class="info">
                                        <h4>Politicus</h4>
                                        <img class="politicus" src="{{ STATIC_PREFIX }}images/test/politicus.jpg" align=" " />
                                        <img class="partij" src="{{ STATIC_PREFIX }}images/test/partij.jpg" align=" " />
                                       <ul class="contactVia">
                                            <li class="viaMail">
                                                <a href="#">via Mail</a>
                                            </li>
                                            <li class="viaPhone">
                                                <a href="#">via Phone</a>
                                            </li>
                                            <li class="viaTwitter">
                                                <a href="#">via Twitter</a>
                                            </li>
                                            <li class="viaHyves">
                                                <a href="#">via Hyves</a>
                                            </li>
                                            <li class="viaFacebook">
                                                <a href="#">via Facebook</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="extraInfo">
                                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat ante sit amet orci ornare non convallis purus porttitor.</p>

                                        <p>Proin sit amet turpis metus, sit amet mollis mi. In sagittis, nibh id tincidunt suscipit.</p>
                                        
                                        <p>Orci elit laoreet nisl, ac mattis eliLorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat ante sit amet orci ornare non convallis purus porttitor. </p>
                                        
                                        <p>Proin sit amet turpis metus, sit amet mollis mi. In sagittis, nibh id tincidunt suscipit.</p>
                                    </div>
                                    <div class="infoToggle">
                                    	<span><span><a href="#">Meer informatie</a></span></span>
                                    </div>
                                </li>
                                <li class="selected">
                                    <div class="info">
                                        <h4>Politicus</h4>
                                        <img class="politicus" src="{{ STATIC_PREFIX }}images/test/politicus.jpg" align=" " />
                                        <img class="partij" src="{{ STATIC_PREFIX }}images/test/partij.jpg" align=" " />
                                       <ul class="contactVia">
                                            <li class="viaMail">
                                                <a href="#">via Mail</a>
                                            </li>
                                            <li class="viaPhone">
                                                <a href="#">via Phone</a>
                                            </li>
                                            <li class="viaTwitter">
                                                <a href="#">via Twitter</a>
                                            </li>
                                            <li class="viaHyves">
                                                <a href="#">via Hyves</a>
                                            </li>
                                            <li class="viaFacebook">
                                                <a href="#">via Facebook</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="disabled">
                                	<div class="info">
                                        <h4>Politicus</h4>
                                        <img class="politicus" src="{{ STATIC_PREFIX }}images/test/politicus.jpg" align=" " />
                                        <img class="partij" src="{{ STATIC_PREFIX }}images/test/partij.jpg" align=" " />
                                       <ul class="contactVia">
                                            <li class="viaMail">
                                                <a href="#">via Mail</a>
                                            </li>
                                            <li class="viaPhone">
                                                <a href="#">via Phone</a>
                                            </li>
                                            <li class="viaTwitter">
                                                <a href="#">via Twitter</a>
                                            </li>
                                            <li class="viaHyves">
                                                <a href="#">via Hyves</a>
                                            </li>
                                            <li class="viaFacebook">
                                                <a href="#">via Facebook</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div id="targetScrollDown"></div>
                         </div>
                    </div>
                    <div id="step2">
                    	<h3>Stap 2: Hoe</h3>
                        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas augue erat.</p>
                        <div class="stepContent">
                            <ul id="vectors">
                                <li id="viaMail">
                                    <a href="#">via Mail</a>
                                </li>
                                <li id="viaPhone" class="selected">
                                    <a href="#">via Phone</a>
                                </li>
                                <li id="viaTwitter">
                                    <a href="#">via Twitter</a>
                                </li>
                                <li id="viaHyves">
                                    <a href="#">via Hyves</a>
                                </li>
                                <li id="viaFacebook" class="disabled">
                                    <a href="#">via Facebook</a>
                                </li>
                            </ul>
                         </div>
                         
                         <div class="nietbeschikbaar">
                         	<h4>niet beschikbaar</h4>
                            <p>Een of meerdere van de geselecteerde politici is niet bereikbaar via dit medium. Deselecteer ze om hier gebruik van te kunnen maken.</p>
                         </div>
                    </div>
                    <div id="step3">
                    	<h3>Stap 3: Wat</h3>
                        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas augue erat.</p>
                        <div class="stepContent">
                            <form action="" enctype="multipart/form-data" method="post">
                                <span class="onderwerp unit">
                                    <label>Onderwerp</label>
                                    <input type="text" />
                                </span>
                                <span class="bericht unit">
                                    <label>Bericht</label>
                                    <textarea>
                                    Sed enim erat, accumsan quis auctor at, ultrices faucibus quam. Vestibulum congue ligula ac mi auctor placerat. Curabitur nisi quam, gravida at vestibulum ut, convallis a dolor. Nulla facilisi. Duis turpis ligula, laoreet nec eleifend id, suscipit eget mi. Pellentesque eget neque nisl, eu viverra diam. Cras tincidunt ornare nibh at laoreet. Proin arcu lacus, varius nec cursus vel, gravida eget arcu. Duis non elit sit amet tellus pellentesque egestas. Sed vulputate massa in nisl accumsan porta. Quisque non dolor at mi laoreet bibendum et tincidunt orci. Aliquam erat volutpat. Nullam eleifend purus nec magna consequat aliquet. Vestibulum in velit libero, at commodo metus. 
                                    </textarea>
                                </span>
                                <span class="naam unit">
                                    <label>Uw Naam</label>
                                    <input type="text" />
                                </span>
                                <span class="versturen">
                                	<input type="submit" value="Versturen" />
                               </span>
                                
                            </form>
                            <p id="bedankt">Bedankt! We stellen je inzet en betrokkenheid enorm op prijs!</p> 
                           	<h5>Wil je nog meer doen? Top!</h5>
                            <ul>
                            	<li><a href="#">Nam aliquam commodo turpis sed commodo</a></li>
                                <li><a href="#">Pellentesque purus odio</a></li>
                                <li><a href="#">Placerat hendrerit laoreet vel</a></li>
                                <li><a href="#">Vulputate at arcu</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
				<div id="deelreageer">                	
                    <div id="reageren">
                    	<p id="kloptniet">
                        	Kloppen contactgegevens niet? Mis je iets? <a href="#">Laat het ons weten!</a>
                        </p>
                        <span id="reacties">
                        	<a href="#">24 Reacties</a>
                        </span>
                    </div>
                    <ul id="delen">
                    	<li id="deelTwitter">
                        	<a href="#">Twitter</a>
                        </li>
                        <li id="deelFacebook">
                        	<a href="#">Facebook</a>
                        </li>
                        <li id="deelHyves">
                        	<a href="#">Hyves</a>
                        </li>
                    </ul>
                </div>	
			</div><!-- //content -->
			<div id="footer">
            	<div id="footerText">
                    <div id="marquee">
                        <p>volg de laatste ontwikkelingen van deze en andere campagnes van Dichter...</p>
                    </div>
                    <ul id="footerlinks">
                        <li><a href="#">Privacy-verklaring</a>&nbsp;|&nbsp;</li>
                        <li><a href="#">Huisregels</a>&nbsp;|&nbsp;</li>
                        <li><a href="#">info@bof.nl</a>&nbsp;|&nbsp;</li>
                        <li>design: <a href="#">Martijn</a>&nbsp;|&nbsp;</li>
                        <li>techniek: <a href="#">iemand anders</a></li>
                    </ul>
                </div>
                <ul id="followLinks">
                	<li id="followLinkedin"><a href="#"></a></li>
                    <li id="followTwitter"><a href="#"></a></li>
                    <li id="followRss"><a href="#"></a></li>
                    <li id="followFacebook"><a href="#"></a></li>
                </ul>
                
			</div><!-- //footer -->
			
		</div><!-- //wrapper -->

	</body>
</html>
