<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="nl_nl">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dichter Bij Den Haag</title>
    <link href="{{ STATIC_URL }}global/styles/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}global/styles/jquery-ui-override.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global/styles/dbdh.css" />
    <script type='text/javascript' src='{{ STATIC_URL }}global/scripts/jquery-1.4.2.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}global/scripts/jquery-ui-1.8.4.custom.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}global/scripts/jquery.scrollTo.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}global/scripts/dbdh.js'></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1 id="logo"><a href="/">Dichter Bij Den Haag</a></h1>
        <a id="boflogo" href="https://bof.nl">Bits of Freedom</a>
      </div>
      <div id="navbar">
        <ul id="nav">
          <li><a id="nav-home" href="/">Home</a></li>
          <li><a id="nav-over" href="/static/over/">Over</a></li>
          <li><a id="nav-contact" href="/static/contact/">Contact / Pers</a></li>
        </ul>
      </div>
      <div class="preamble">
        <p>
          Welkom bij Dichter Bij Den Haag: de snelste manier om je stem
          te laten horen. Kies hieronder wie je wilt bereiken, hoe je
          diegene wilt bereiken, wat je wil zeggen en verstuur je
          boodschap. Klik <a href="/static/over/">hier</a> voor meer
          informatie over Dichter Bij Den Haag.
        </p>
      </div>
     
      <div id="content">
        <div id="nothintodo">
          <h2>Dichter Bij Den Haag is nu niet in gebruik.</h2>
          <p>Op het moment zijn er geen campagnes waarvoor we Dichterbij Den Haag inzetten. Als je op de hoogte wilt blijven van nieuwe acties, volg dan <a href="https://www.bof.nl/blog/">ons blog</a> of <a href="http://twitter.com/bitsoffreedom">@bitsoffreedom</a>.</p>
        </div>
        <div id="deelreageer">
          <div id="reageren">
            <p id="kloptniet">Heb jij een goed idee voor een campagne? Mis je iets? <a href="/static/contact">Laat het ons weten!</a></p>
          </div>
          <ul id="delen">
            <li id="deelTwitter"><a href="http://twitter.com/intent/tweet/?text=Verdedig%20ook%20de%20burgerrechten%20op%20internet%20http%3A%2F%2Fwww.dichterbijdenhaag.nl">Twitter</a></li>
            <li id="deelFacebook"><a href="http://www.facebook.com/sharer.php?u=Verdedig%20ook%20de%20burgerrechten%20op%20internet%20http%3A%2F%2Fwww.dichterbijdenhaag.nl">Facebook</a></li>
            <li id="deelHyves"><a href="http://hyves.nl">Hyves</a></li>
          </ul>
        </div>
      </div><!-- //content -->
      <div id="footer">
        <div id="footerText">
          <div id="marquee">
            <p>Volg de laatste ontwikkelingen van Dichter Bij Den Haag via Bits of Freedom...</p>
          </div>
          <ul id="footerlinks">
            <li><a href="/static/privacy/">Privacy-verklaring</a></li>
            <li><a href="/static/regels/">Huisregels</a></li>
            <li>Design: <a href="http://www.martijnbroekman.nl/">Martijn Broekman</a></li>
            <li>Techniek: Zie <a href="/static/over/">Over</a></li>
          </ul>
        </div>
        <ul id="followLinks">
          <li id="followLinkedin"><a href="https://www.linkedin.com/groups?home=&amp;gid=2677586"></a></li>
          <li id="followTwitter"><a href="https://twitter.com/bitsoffreedom"></a></li>
          <li id="followRss"><a href="https://www.bof.nl/rss/"></a></li>
          <li id="followFacebook"><a href="https://www.facebook.com/BitsofFreedom"></a></li>
        </ul>
      </div><!-- //footer -->
    </div><!-- //wrapper -->
    <script type="text/javascript">
	    var pkBaseURL = document.location.protocol + "//" + "stats.bof.nl" + "/";
	    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	    </script><script type="text/javascript">
	    try {
		    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
		    piwikTracker.setDocumentTitle(document.title);
		    piwikTracker.disableCookies();
		    piwikTracker.trackPageView();
		    piwikTracker.enableLinkTracking();
	    } catch( err ) {}
   </script>
  </body>
</html>
