<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="nl_nl">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }} - Dichter bij Den Haag</title>
    <link href="{{ STATIC_PREFIX }}styles/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_PREFIX }}styles/jquery-ui-override.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}styles/dbdh.css" />
    <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery-1.4.2.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery-ui-1.8.4.custom.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery.scrollTo.js'></script>
    <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery.scrollabletab.js'></script>
    <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/jquery.scrollabletab.init.js'></script>
    <script type='text/javascript' src='{{ STATIC_PREFIX }}scripts/dbdh.js'></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1 id="logo"><a href="/">Dichter bij Den Haag</a></h1>
        <a id="boflogo">Bits of Freedom</a>
      </div>
      <div id="navbar">
        <ul id="nav">
          <li><a id="nav-home" href="/">Home</a></li>
          <li><a id="nav-over" href="/static/over/">Over</a></li>
          <li><a id="nav-contact" href="/static/contact/">Contact / Pers</a></li>
        </ul>
      </div>
      <div id="content">
        {{ page.page|safe }}<br /><br />
      </div>
      <div id="footer">
        <div id="footerText">
          <div id="marquee">
            <p>volg de laatste ontwikkelingen van Dichter bij Den Haag...</p>
          </div>
          <ul id="footerlinks">
            <li><a href="/static/privacy/">Privacy-verklaring</a></li>
            <li><a href="/static/regels/">Huisregels</a></li>
            <li>Design: <a href="http://www.martijnbroekman.nl/">Martijn Broekman</a></li>
            <li>Techniek: Zie <a href="/static/over/">Over</a></li>
          </ul>
        </div>
        <ul id="followLinks">
          <li id="followLinkedin"><a href="https://www.linkedin.com/groups?home=&amp;gid=2677586"></a></li>
          <li id="followTwitter"><a href="https://twitter.com/bitsoffreedom"></a></li>
          <li id="followRss"><a href="https://www.bof.nl/rss/"></a></li>
          <li id="followFacebook"><a href="https://www.facebook.com/BitsofFreedom"></a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
