/*
eth0 bof
*/

html, body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, o, ul, li, ol, dl, dt, dd, p {
	margin: 0;
	padding: 0;
}

input {
	border: 1px solid #A59D9D;
}

h2 {
	font-size: 26px;
	margin: 12px 0;
}

h5 {
	font-size: 15px;
	margin: 6px 0 0 0;
}

p {
	margin-top: 19px;
}

a {
	color: #37abdb;
	text-decoration: none;
	outline: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

ul {
	margin: 3px 0 0 15px;
	list-style-image: url(../images/li-bullet.png);
}

#header {
	width: 794px;
	height: 126px;
	margin: 0 auto;
	padding: 24px 0 0 0;
}

#logo {
	display: block;
	float: left;
	margin: 0 0 0 -120px;
}

#logo a {
	display: block;
	width: 331px;
	height: 98px;
	background: url(../images/h1-dbdh-logo.png) no-repeat;
	text-indent: -9999px;
}

#boflogo {
  display: block;
	float: right;
	width: 233px;
	height: 98px;
	background: url(../images/bg-bof-logo.png) no-repeat;
	text-indent: -9999px
}

#content {
	clear: both;
	width: 794px;
	margin: 0 auto;
}

#navbar {
	clear: both;
	background: #000;
	color: #fff;
	width: 100%;
	overflow: auto;
}

#nav {
	list-style: none;
	width: 794px;
	margin: 0 auto;
}

#nav li {
	display: block;
	float: left;
	width: 122px;
	padding:.1em 0;
}

#nav li a {
	height:24px;
	color:#fff;
	font-weight:bold;
	font-size:1.2em;
}
#nav li a:hover {
  text-decoration:none;
  color:#37ABDB;
}
#hero .bijschrift {
	font-size: 14px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: bold;
	color: #8e8e8e;
	margin: 4px 0 0 0;
	display: block;
}

#hero img.aside {
	float: right;
	margin: 0 0 19px 19px;
	height: 130px;

}

#hero p.intro {
	margin: 2px 0;
}

#hero img.politicus,
#hero img.partij {
	float: right;
	margin: -30px 0px 19px 19px;
}
#hero .hashtag{
 display:none;
}
#meer {
	margin: 15px 0 0 0;
	border-top: 2px solid #36abdb;
	clear: both;
	overflow: auto;
}

#meer span {
	display: block;
	width: 92px;
	margin: 0 auto;
	height: 20px;
	background: url(../images/bg-a-meer.png) no-repeat bottom #36abdb;
	color: #fff;
}

#meer a {
	background: url(../images/bg-meer-arrow.png) no-repeat 2px 7px;
	color: #fff;
	text-decoration: none;
	display: block;
	width: 80px;
	height: 20px;
	padding: 0 0 0 12px;
	text-transform: uppercase;
	font-size: 12px;
}
#meer a:hover {
	text-decoration: underline;
}

#meer.open a {
	background: url(../images/bg-meer-arrow-open.png) no-repeat 2px 7px;
}

.preamble{
	width: 794px;
	background: #7c7c7c;
	margin: 0px auto 6px;
	padding: 2px 237px 2px 236px;	
	font-weight: bold;
	color: #fff; 
}

#campagnes {
	width: 654px;
	padding-left: 140px;
	margin: 0 auto;
	background: url(../images/bg-campagnes.png) no-repeat 0 10px;
	height: 30px;
	margin-top: 0px;
	font-weight: bold !important;
	font-size: 12px;
}

#campagnes-list {
	overflow: hidden;
	float: left;
	width: 612px;
	padding-left: 0;
	padding-right: 0;
}
#campagnes-list ul {
	width: 6000px;
	padding-left: 0;
	padding-right: 0;
}
#campagnesScrollLeft {
	background: url(../images/arrow-left.png) no-repeat;
	float: left;
	margin-top: 7px;
	width: 19px;
	height: 25px;
	margin-right: 2px;
}
#campagnesScrollRight {
	background: url(../images/arrow-right.png) no-repeat;
	float: right;
	margin-top: 7px;
	width: 19px;
	height: 25px;
	margin-left: 2px;
}

#steps {
	clear: both;
	margin: 20px 0 50px 0;
	overflow: auto;
}

#steps .stepContent {
	background: url(../images/bg-panel-narrow.png) no-repeat 0px 0px;
	min-height: 370px;
	overflow: hidden;
}

#steps p.intro {
	color: #fff;
	background: #7c7c7c;
	font-size:11px;
	line-height: 12px;
	margin: 0px;
	padding: 4px 7px;
	min-height: 36px;
}

#step1 {
	width: 212px;
	float: left;
	margin: 0 9px 0 0;
}

#step1 h3 {
	background: url(../images/bg-stap1.png) no-repeat;
	width: 212px;
	height: 42px;
  text-indent: -9999px
}

#targetScrollUp {
	background: url(../images/bg-stap1-scrollup.png) no-repeat;
	width: 207px;
	height: 27px;
	margin: 13px 0 0 2px;
}

#targetScrollUp:hover {
	background: url(../images/bg-stap1-scrollup.png) no-repeat 0px -27px;
	cursor: pointer;
}

#targetScrollUp.ui-state-disabled:hover {
	background: url(../images/bg-stap1-scrollup.png) no-repeat;
	cursor: default;
}

#targetScrollDown {
	background: url(../images/bg-stap1-scrolldown.png) no-repeat;
	width: 207px;
	height: 27px;
	margin: 0px 0 13px 2px;
}

#targetScrollDown:hover {
	background: url(../images/bg-stap1-scrolldown.png) no-repeat 0px -27px;
	cursor: pointer;
}

#targetScrollDown.ui-state-disabled:hover {
	background: url(../images/bg-stap1-scrolldown.png) no-repeat;
	cursor: default;
}

#targets {
	list-style: none;
	margin: 0;
	height: 600px;
	padding-left: 2px;
	margin-right: -64px;
	overflow-x: hidden;
	overflow-y: auto;
}
#targets li:first-child {
	margin-top: 13px;
}

#targets li {
	border: 1px solid #6c6c6c;
	padding: 3px 4px;
	overflow: auto;
	margin: 0 0 13px 0;
	width: 197px;
}

#targets li.selected { background: #36abdb; }
#targets li.disabled { background: #676767; }

#targets ul.contactVia {
	clear: right;
	list-style: none;
	width: 96px;
	float: right;
	margin: 4px 0 0 0;
}

#targets .contactVia li {
	border: none;
	width: 20px;
	height: 17px;
	float: left;
	display: block;
	text-indent: -9999px;
	background-image: url(../images/stap1-sprites.png);
	background-repeat: no-repeat;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#targets li.viaMail { background-position: 0px 0px; }

#targets .selected li.viaMail,
#targets .disabled li.viaMail { background-position: 0px -17px; }

#targets li.viaPhone { background-position: -20px 0px;  width: 18px;}

#targets .selected li.viaPhone,
#targets .disabled li.viaPhone { background-position: -20px -17px; }

#targets li.viaTwitter { background-position: -40px 0px;}

#targets .selected li.viaTwitter,
#targets .disabled li.viaTwitter { background-position: -40px -17px; }

#targets li.viaHyves { background-position: -60px 0px;}

#targets .selected li.viaHyves,
#targets .disabled li.viaHyves { background-position: -60px -17px; }

#targets li.viaFacebook { background-position: -80px 0px; width: 16px;}

#targets .selected li.viaFacebook,
#targets .disabled li.viaFacebook { background-position: -80px -17px; }

#targets h4 {
	font-size: 13px;
	text-transform: uppercase;
}

#targets a h4 {color:#000;}
#targets .selected h4 { color: #fff; }
#targets .disabled h4 { color: #cdcdcd; }

#targets .politicus {
	border: 1px solid #6c6c6c;
	border-bottom: none;
	float: left;
	max-width: 64px;
}

#targets .partij {
	border: none;
	float: right;
	max-width: 96px;
	margin-right: 8px;
}

#targets li .info {
	overflow: auto;
	border: none;
	border-bottom: none;
	padding: 0px;
}

#targets li .extraInfo {
	clear: left;
	font-size: 11px;
	line-height: 13px;
	background: #444;
	color: #fff;
	padding: 3px 4px;
}

#targets li .extraInfo.first {
  background: url(../images/bg-politicus-extrainfo.png) no-repeat #444;
	padding: 13px 4px 3px;
}

#targets li .extraInfo p {
	margin: 0 0 1px 0;
}

#targets li .infoToggle {
	border-top: 1px solid #6c6c6c;
}


#targets li .infoToggle span {
	display: block;
	background: url(../images/bg-politici-meer-info.png) no-repeat top right;
	float: left;
}

#targets li .infoToggle span span {
	display: block;
	background: url(../images/bg-politici-meer-info.png) no-repeat top left;
	margin: 0 5px 0 0;
}

#targets li .infoToggle span span a  {
	color: #fff;
	font-size: 12px;
	padding: 0 0 0 16px;
	line-height: 16px;
	background: url(../images/bg-a-meer-info.png) no-repeat 4px 4px;
}

#targets li .infoToggle.hide span span a {
	background: url(../images/bg-a-hide-info.png) no-repeat 4px 4px;
				}


		#steps div.nietbeschikbaar {
			width: 172px;
			margin: 13px auto;
		}

		#steps div.nietbeschikbaar h4 {
			background: url(../images/bg-nietbeschikbaar.png) no-repeat;
			font-size: 19px;
			font-weight: normal;
			padding: 5px 0 0 25px;
			color: #fff;
		}

		#steps div.nietbeschikbaar p {
			background: url(../images/bg-nietbeschikbaar.png) no-repeat bottom;
			margin: 0;
			color: #fff;
			font-size: 11px;
			line-height: 13px;
			padding: 6px;
		}

		#step2 {
			width: 212px;
			float: left;
			margin: 0 9px 0 0;
		}

			#step2 h3 {
				background: url(../images/bg-stap2.png) no-repeat;
				width: 212px;
				height: 42px;
				text-indent: -9999px
			}

			#vectors {
				list-style: none;
				width: 85px;
				margin: 0 auto;
			}

			#vectors  li { list-style-image: none; margin: 0;}
			#vectors .disabled{
			  display:none;
			}
				#viaemail a,
				#viaphone a,
				#viatwitter a,
				#viafacebook a {
					width: 85px;
					height: 86px;
					display: block;
					text-indent: -9999px;
					background-image: url(../images/stap2-sprites.png);
					background-repeat:  no-repeat;
					margin: 15px 0 0 0;
				}

				#viaemail a { background-position: 0px 0px; }

					#viaemail.selected a,
					#viaemail a:hover { background-position: -85px 0px; }

				#viaphone a { background-position: 0px -101px;}
					#viaphone.selected a,
					#viaphone a:hover { background-position: -85px -101px; }

				#viatwitter a { background-position: 0px -202px;}
					#viatwitter.selected a,
					#viatwitter a:hover { background-position: -85px  -202px;}


				#viafacebook a { background-position: 0px -404px;}
					#viafacebook.selected a,
					#viafacebook a:hover { background-position:  -85px -404px;}

		#step3 {
			width: 352px;
			float: left;
		}

			#step3 .stepContent {
			background: url(../images/bg-panel-wide.png) no-repeat 0px 0px;
			}

			#step3 h3 {
				background: url(../images/bg-stap3.png) no-repeat;
				width: 352px;
				height: 42px;
				text-indent: -9999px
			}

			#step3 form {
				margin: 0px 7px;
				padding: 0 0 20px 0;
				border-bottom: 1px dotted #a59d9d;
			}

			#step3 form .unit {
				margin: 15px 0  0 0;
				display: block;
				width: 100%;
				overflow: hidden;
			}

			#step3 .onderwerp label,
			#step3 .naam label {
				display: block;
				background: url(../images/bg-label-h.png) no-repeat #585858;
				color: #fff;
				width: 78px;
				height: 20px;
				padding: 1px 5px;
				float: left;
			}

			#step3 .onderwerp input,
			#step3 .naam input {
				border: 1px solid #a59d9d;
				diaplay: block;
				float: left;
				width: 236px;
				height: 18px;
				padding: 1px 5px;
			}

			#step3 .bericht label {
				display: block;
				background: url(../images/bg-label-v.png) no-repeat;
				color: #fff;
				width: 56px;
				height: 18px;
				padding: 1px 5px;
				float: left;
			}

			#step3 .bericht textarea,
			#tweetform textarea {
				border: 1px solid #a59d9d;
				width: 316px;
				height: 216px;
				color: #696969;
				padding: 10px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12px;
				line-height: 15px;
				margin: 0;
			}
			#tweetform .bericht textarea {
				height: 52px;
			}

			#tweetsizedisplay {
				border: none;
				font-weight: bold;
			}

			#step3 .versturen input {
				background: url(../images/bg-btn-versturen.png) no-repeat;
				display: block;
				width: 128px;
				height: 31px;
				border: none;
				margin: 20px auto 0;
				color: #fff;
				padding: 0 9px;
			}

				#step3 .versturen input:hover {
					background-position: 0px -31px;
				}

		#bedankt {
			background: url(../images/bg-bedankt.png) no-repeat;
			width: 345px;
			height: 81px;
			text-indent: -9999px;

		}


		#deelreageer {
			width: 100%;
		}

		#delen {
			background: url(../images/bg-delen.png) no-repeat;
			width: 130px;
			height: 44px;
			margin: 0;
			padding: 0 0 0 305px;
			float: left;
		}

			#delen li {
				list-style: none;
				margin: none;
				float: left;
			}

				#deelTwitter a,
				#deelFacebook a,
				#deelHyves a{
					display: block;
					background-image: url(../images/delen-sprites.png);
					background-repeat: no-repeat;
					text-indent: -9999px;
					width: 30px;
					height: 40px;
				}

				#deelTwitter a{ background-position: -10px 0px }
				#deelTwitter a:hover{ background-position: -10px -45px }
				#deelFacebook a{ background-position: -45px 0px; width: 35px;}
				#deelFacebook a:hover{ background-position: -45px -45px}
				#deelHyves a{ background-position: -85px 0px}
				#deelHyves a:hover{ background-position: -85px -45px}

		#reageren {
			float: right;
			width: 346px;
		}

			#kloptniet{
				font-size: 11px;
				color: #676767;
				border-bottom: 1px dotted #676767;
				margin: 23px 6px 2px 0;

			}

#footer {
	clear: both;
	width: 818px;
	min-height: 200px;
	margin: 0 auto;
	background: url(../images/bg-footer.png) no-repeat;
}

	#footerText {
		padding: 100px 0 0 0;
		width: 510px;
		float: left;
	}

	#marquee {
		border-bottom: 1px dotted #6a6a6a;
	}

		#marquee p {
			color: #6a6a6a;
			font-weight: bold;
			margin: 0 0 10px 0;
		}

	#footerlinks {
		list-style: none;
		margin: 8px 0 0 0;
	}

		#footerlinks li {
			display: block;
			float: left;
			color: #6a6a6a;
			margin:0 12px 0 0;
		}
		#footerlinks li:last-child{
		  margin:0;
		}

			#footerlinks li a {
				color: #6a6a6a;
				text-decoration: none;
			}
			#footerlinks li a:hover{
			  text-decoration: underline;
			}

	#followLinks {
		list-style: none;
		width: 312px;
		float: right;
		margin: -107px -2px 0 0;
	}

	#followLinks li {
		display: block;
		float: left;
		margin: 0;
		list-style-image: none;
	}

	#followLinkedin a,
	#followTwitter a,
	#followRss a,
	#followFacebook a {
		width: 78px;
		height: 78px;
		display: block;
		text-align: -9999px;
		background-image: url(../images/bg-footer.png);
		background-repeat: no-repeat;
	}

	#followLinkedin a { background-position: -508px -50px; }
	#followTwitter a { background-position: -586px -50px; }
	#followRss a { background-position: -664px -50px; }
	#followFacebook a { background-position: -742px -50px; }
	/*
	p:empty {
		display: none;
	}
	*/


/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
